<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel='icon' type='image/x-icon' href='https://i.imgur.com/ppLIsq6.png' />
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css">
  <title>{% block title %}Welcome!{% endblock %}</title>
  {% block stylesheets %}{% endblock %}
</head>

<body>
  {% block body %}{% endblock %}
  {% block javascripts %}{% endblock %}
</body>

</html>